
    
    
 <section>
  <img src="<%= data.image %>">
  <h3><%= data.title%></h3>
  <h4><%= data.author %></h4>
  <p><%= data.description %></p>
  <p><%= data.isbn %></p>
  <p>bookShilf</p>
  <a href="searches">Back to Books list</a>
</section>
  